* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: whitesmoke;
    font-size: 18px;
    font-family: "Bai Jamjuree", sans-serif;
    font-style: normal;
}

/*HEADER*/
header {
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    background: url('/images/bg-header-desktop.png');
    -webkit-mask-image: linear-gradient(to bottom, black 70%, transparent 100%);
    mask-image: linear-gradient(to bottom, black 70%, transparent 100%);
}

.header_logo {
    margin-top: 70px;
    height: 18vh;
}

.branding_container {
    text-align: center;
}

.branding_title,
.feature_title {
    font-size: 2rem;
    line-height: 1.2;
}


.branding_subtitle,
.feature_subtitle {
    color: #808080;
    margin-top: 20px;
    line-height: 1.5;
    font-weight: lighter;
    padding: 15px;
    font-size: 1.2rem;
}

.branding_subtitle span,
.branding_title span,
.feature_subtitle span {
    display: block;
}





.btn_Ios,
.btn_Mac {
    width: 85vw;
    padding: 18px;
    border-radius: 50px;
    margin-right: 8px;
    margin-bottom: 25px;
    border: none;
    font-size: 1rem;
    color: white;
    font-family: "Bai Jamjuree", sans-serif;

}

.btn_Ios {
    background-color: #26baa4;
    box-shadow: 2px 2px 2px 2px #26baa4
}

.btn_Mac {
    background-color: #6173ff;
    box-shadow: 2px 2px 2px 2px #6173ff
}

.btn_Ios:hover {
    box-shadow: 2px 12px 12px 2px #26baa46f
}

.btn_Mac:hover {
    box-shadow: 2px 12px 12px 2px #6173ff6a
}

.branding_btns {
    margin-top: 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
}



/*section snipets*/
.features_container {
    text-align: center;

}

.features_snipets {
    margin-top: 125px;
    margin-bottom: 20px;

}




.grid_devices {
    display: grid;
    grid-template-columns: 1fr;
    gap: 50px;
   
   
}

.feature_block{
   
    justify-content: center;
    text-align: center
}

/* MOBILE FIRST */
.mobile-text {
  display: block;
 
 
}

.features_img{
    display: flex;
    justify-content: center;
}


.desktop-text {
  display: none;
}

.features_devices img {
    width: 60vw;
   
}


.feature_block p {
    color: #808080;
    line-height: 1.6;
    padding: 10px;
    margin-bottom: 30px;
    }




@media (min-width: 768px) {

    .branding_title span {
        display: inline;

    }

    .branding_title span:first-child::after {
        content: " ";
    }

    .branding_subtitle span {
        display: inline-block;

    }

    .branding_btns {
        display: flex;
        justify-self: center;
        flex-direction: row;
        width: 35vw;
    }

    .feature_title span {
        display: inline;
    }

    .branding_title span:first-child::after {
        content: " ";
    }

    .feature_subtitle {

        max-width: 72vw;
        /* ajusta hasta que te coincida el diseño */
        line-height: 1.6;
        margin: 0 auto;
        margin-bottom: 60px;
      

    }

    .feature_subtitle span {
        display: inline;
        
    }

        .grid_devices {

         grid-template-columns: 1fr 1fr;
        }
    

   

    .features_content {
        display: flex;
        flex-direction: column;
        gap: 50px;
   

    }

    .feature_block h3 {
        
        color: #242323;
        margin-bottom: 10px;
    
      
    }

    .feature_block p {
        
        line-height: 1.6;
        padding: 10px;
    }

    .feature_block{
      
        text-align: left;
    }



  .mobile-text {
    display: none;
    color:gray
    
  }

  .desktop-text {
    display: block;
  }

  .features_devices img {
    transform: translateX(-100px);

}













}

@media (min-width: 320px) {

    header {
        height: 40vh;
        background-size: cover;
        background-repeat: no-repeat;
        text-align: center;
        background: url('/images/bg-header-desktop.png');
        -webkit-mask-image: linear-gradient(to bottom, black 50%, transparent 80%);
        mask-image: linear-gradient(to bottom, rgb(255, 254, 254) 60%, transparent 100%);
    }

    .features_contents img {
        width: 55vw;
    }

   




}