* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: whitesmoke;
    font-size: 18px;
    font-family: "Bai Jamjuree", sans-serif;
    font-style: normal;
}

/*HEADER*/
header {
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    background: url('/images/bg-header-desktop.png');
    -webkit-mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
    mask-image: linear-gradient(to bottom, rgb(255, 254, 254) 10%, transparent 100%);
}

.header_logo {
    margin-top: 70px;
    height: 18vh;
}

h3 {
    font-size: 1.5rem;
    color: #4c545d;
}

.branding_container {
    text-align: center;
}

.branding_title,
.feature_title {

    line-height: 1.2;
    color: #4c545d
}


.branding_subtitle,
.feature_subtitle {
    color: hsl(201, 11%, 66%);
    margin-top: 20px;
    line-height: 1.5;
    font-weight: lighter;
    padding: 15px;
    font-size: 1.2rem;
}

.branding_subtitle span,
.branding_title span,
.feature_subtitle span {
    display: block;
}

.btn_Ios,
.btn_Mac {
    width: 85vw;
    padding: 18px;
    border-radius: 50px;
    margin-right: 8px;
    margin-bottom: 25px;
    border: none;
    font-size: 1rem;
    color: white;
    font-family: "Bai Jamjuree", sans-serif;

}

.btn_Ios {
    background-color: #26baa4;
    box-shadow: 2px 2px 2px 2px #26baa4
}

.btn_Mac {
    background-color: #6173ff;
    box-shadow: 2px 2px 2px 2px #6173ff
}

.btn_Ios:hover {
    box-shadow: 2px 12px 12px 2px #26baa46f
}

.btn_Mac:hover {
    box-shadow: 2px 12px 12px 2px #6173ff6a
}

.branding_btns {
    margin-top: 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
}



/*section snipets*/
.features_container {
    text-align: center;

}

.features_snipets {
    margin-top: 125px;
    margin-bottom: 20px;

}


.grid_devices {
    display: grid;
    grid-template-columns: 1fr;

}

.feature_block {
    justify-content: center;
    text-align: center
}

/* MOBILE FIRST */
.mobile-text {
    display: block;

}

.desktop-text {
    display: none;
}

.img_computer {
    object-fit: contain;
    width: 60vw;
}


.feature_block p {

    color: #9fabb2;
    line-height: 1.6;
    padding: 10px;
    margin-bottom: 40px;
}

.features_img {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;

}

/*devices & wordFlow &clipboard*/

.devices,
.workflow,
.clipboard {
    text-align: center
}

.devices_image {
    display: flex;
    justify-content: center;
}

.devices img {
    margin-top: 40px;
    width: 70vw;

}

.devices_container h1,
.workflow h1,
.grid_container h1,
.clipboard_container h1 {
    margin-top: 125px;
    color: #4c545d;
    margin-bottom: 20px;
}

.devices_container p,
.workflow p,
.grid_container p,
.clipboard_container p {
    margin-top: 10px;
    color: #9fabb2;
}

.grid_workflow {
    margin-top: 60px;
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;


}

.grid_container img {
    margin-top: 40px;
}

.grid_container h1 {
    margin-top: 30px;
}

.grid_container img {
    width: 30px;
    margin-bottom: 30px;
}

/*grid-sponsors*/

.gridsponsors {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 100px;
    margin-top: 100px
}

.gridsponsors img {
    width: 130px;
}

.footer_container{
    padding:30px;
    display: flex;
    flex-direction: column;
    gap: 100px;
    background: #eeeff0;
    justify-content: center;
    align-items: center;
}

.cont_img img{
    width: 70px;
}

.container_p p{
    line-height: 3.8;
    text-align: center;
    color: #9fabb2;
}

.container_icons{
    display:flex;
    gap:30px;
}






@media (min-width: 768px) {

    .branding_title span {
        display: inline;

    }

    .branding_title span:first-child::after {
        content: " ";
    }

    .branding_subtitle span {
        display: inline-block;

    }

    .branding_btns {
        display: flex;
        justify-self: center;
        flex-direction: row;
        width: 35vw;
    }

    .feature_title span {
        display: inline;
    }

    .branding_title span:first-child::after {
        content: " ";
    }

    .feature_subtitle {

        max-width: 72vw;
        /* ajusta hasta que te coincida el diseño */
        line-height: 1.6;
        margin: 0 auto;
        margin-bottom: 60px;


    }

    .feature_subtitle span {
        display: inline;

    }

    .grid_devices {

        grid-template-columns: 1fr 1fr;
    }


    .features_content {
        display: flex;
        flex-direction: column;
        gap: 50px;
        margin-top: 20px;


    }

    .feature_block h3 {

        color: #4c545d;
        margin-bottom: 10px;

    }

    .feature_block p {

        line-height: 1.6;
        padding: 10px;
    }

    .feature_block {

        text-align: left;
    }



    .mobile-text {
        display: none;
        color: gray
    }

    .desktop-text {
        display: block;
    }

    .features_devices img {
        transform: translateX(-100px);


    }

    .devices img {
        width: 60vw;
    }

    .grid_workflow {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;

    }

    .grid_container p {
        font-size: 0.8rem;
        padding: 20px;
    }


    .gridsponsors {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 50px;
        margin-top: 100px
    }

    .gridsponsors img {
        width: 120px
    }


    .footer_container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items:flex-start;
    margin-top:120px;
  
    gap: 200px;
}

.footer_features{
    display: flex;
    justify-content: center;
    align-items:self-start;
    gap: 30px;
    color: #9fabb2;
    left:-20px;
   
}

.container_p p{
    line-height: 1.8;
    text-align: left;
    color: #9fabb2;
}

.container_icons{
   
    align-items:center;
}














}

@media (min-width: 320px) {

    header {
        height: 40vh;
        background-size: cover;
        background-repeat: no-repeat;
        text-align: center;
        background: url('/images/bg-header-desktop.png');
        -webkit-mask-image: linear-gradient(to bottom, black 50%, transparent 80%);
        mask-image: linear-gradient(to bottom, rgb(255, 254, 254) 60%, transparent 100%);
    }

    .features_contents img {
        width: 55vw;
    }






}